<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Webpage</title>
  <style>

.popup {
    font-family: "Source Code Pro", monospace;
    --input-focus: #0E46A3;
    --font-color: #F5E8C7;
    --font-color-sub: #666;
    --bg-color: rgba(245, 232, 199,0.5);
    --main-color: black;
    background: rgba(67, 85, 133,0.8);
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);

    display: none; /* Hide popup by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(67, 85, 133);
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;

    /* Add overflow-y property */
    max-height: 80vh; /* Set a maximum height for the popup */
    overflow-y: auto; /* Enable vertical scroll when content exceeds max-height */
}


  .popup input {
    margin-top: 10px;
  }

    .form {
      font-family: "Source Code Pro", monospace;
      margin-left:350px;
      width:60%;
  --input-focus: #0E46A3;
  --font-color: #F5E8C7;
  --font-color-sub: #666;
  --bg-color: rgba(245, 232, 199,0.5);
  --main-color: black;
  background:  rgba(67, 85, 133,0.8);
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  padding-bottom:40px;
  padding-top:40px;
}

 .form3 {
  display:inline-block ;
  margin-top:100px;
      font-family: "Source Code Pro", monospace;
      margin-left:50px;
      width:30%;
  --input-focus: #0E46A3;
  --font-color: #F5E8C7;
  --font-color-sub: #666;
  --bg-color: rgba(245, 232, 199,0.5);
  --main-color: black;
  background:  rgba(67, 85, 133,0.8);
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  padding:40px;
  margin-left:250px;
}
.form4 {
  display: inline-block;
  margin-top:50px;
      font-family: "Source Code Pro", monospace;
      margin-left:70px;
      width:30%;
  --input-focus: #0E46A3;
  --font-color: #F5E8C7;
  --font-color-sub: #666;
  --bg-color: rgba(245, 232, 199,0.5);
  --main-color: black;
  background:  rgba(67, 85, 133,0.8);
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  padding:40px;

}

.sty {
      font-family: "Source Code Pro", monospace;
      margin-left:350px;
      width:60%;
  --input-focus: #0E46A3;
  --font-color: #F5E8C7;
  --font-color-sub: #666;
  --bg-color: rgba(245, 232, 199,0.5);
  --main-color: black;
  background:  rgba(67, 85, 133,0.8);
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  padding-bottom:40px;
  padding-top:40px;
}

.title {
  margin-left:400px;
  color: var(--font-color);
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 25px;
}

.title span {
  color: var(--font-color);
  font-weight: 600;
  font-size: 17px;
}

.label{
  color: var(--font-color);
  margin-left:190px;
  font-size: 20px;
 font-family: "Source Code Pro", monospace;
 display:inline-block;
 padding-right: 10px;
}
.label1{
  
  color: var(--font-color);
  margin-left:200px;
  font-size: 20px;
 font-family: "Source Code Pro", monospace;
 display:inline-block;
 padding-right: 10px;
}

.input2{
  display: inline-block;
  margin-top:30px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  padding-right:30px;
  margin-bottom: 20px;
  outline: none;
  
}
.input5{
  display: inline-block;
  margin-top:20px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-left:23px;
  padding-right:30px;
  
}
.input5::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input5:focus {
  border: 2px solid var(--input-focus);
}
.input6{
  display: inline-block;
  margin-top:20px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-left:95px;
  padding-right:30px;
  
}
.input6::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input6:focus {
  border: 2px solid var(--input-focus);
}

.input9{
  display: inline-block;
  margin-top:20px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-left:85px;
  padding-right:30px;
  
}
.input9::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input9:focus {
  border: 2px solid var(--input-focus);
}

.input7{
  display: inline-block;
  margin-top:20px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-left:70px;
  padding-right:30px;
  
}
.input7::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input7:focus {
  border: 2px solid var(--input-focus);
}

.input8{
  display: inline-block;
  margin-top:20px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-left:20px;
  padding-right:30px;
  
}
.input8::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input8:focus {
  border: 2px solid var(--input-focus);
}

.input3{  
  margin-top:100px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
   padding-right:30px;
  
}
.input {
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}
.input2::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input2:focus {
  border: 2px solid var(--input-focus);
}
.input3::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input3:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

.button-log {
  
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button-confirm1 {
  margin-top:30px;
  margin-left:240px;
  font-family: "Source Code Pro", monospace;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  margin-right:50px;
}

.button-confirm {
  font-family: "Source Code Pro", monospace;
  margin-left:20px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  margin-right:50px;
  margin-bottom:50px;
}

.button-confirm3 {
  margin-top:30px;
  margin-left:240px;
  font-family: "Source Code Pro", monospace;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  margin-right:50px;
}

 .button-confirm3:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}


    .rectangle {
      display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #E9F8F9;
        margin-left:1200px;
        margin-top:100px;
    }
     .rectangle01 {
      display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #E9F8F9;
        margin-left:1200px;
        margin-top:100px;
    }
    .rectangle1 {
      display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #0974f1;
        margin-left:1200px;
        margin-top:40px;
    }
    .rectangle2 {
      display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #9AC8CD;
        margin-left:1200px;
        margin-top:40px;
    }
    .circle {
      display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #E9F8F9;
        border-radius: 50%;
        margin-left:1200px;
    }
    .circle3 {
      display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #E9F8F9;
        border-radius: 50%;
        margin-top:50px;
        margin-left:1200px;
    }
    .circle1 {
      display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #E9F8F9;
        border-radius: 50%;
        margin-left:60px;
        margin-top:50px;
    }

 .vertical-line {
      position: absolute;
      margin-top:440px;
      margin-left:200px;
      height:900px;
      top: 0;
      bottom: 0;
      transform: translateX(-50%);
      width: 3px;
      background-color: #0E46A3;
    } 
    .vertical-line1 {
      position: absolute;
      margin-top:440px;
      margin-left:520px;
      height:900px;
      top: 0;
      bottom: 0;
      transform: translateX(-50%);
      width: 3px;
      background-color: #0E46A3;
    } 
    .horizontal-line {
      position: absolute;
      margin-top: 50px;
      margin-left: 500px;
      height: 3px;
      width: 1000px;
      background-color: #0E46A3;
    }
    .horizontal-line1 {
      position: absolute;
      margin-top: 150px;
      margin-left: 500px;
      height: 3px;
      width: 1000px;
      background-color: #0E46A3;
    }
    .horizontal-line2 {
      position: absolute;
      margin-top: 250px;
      margin-left: 500px;
      height: 3px;
      width: 1000px;
      background-color: #0E46A3;
    }
    .horizontal-line3 {
      position: absolute;
      margin-top: 350px;
      margin-left: 500px;
      height: 3px;
      width: 1000px;
      background-color: #0E46A3;
    }
    .horizontal-line4 {
      position: absolute;
      margin-top: 450px;
      margin-left: 500px;
      height: 3px;
      width: 1000px;
      background-color: #0E46A3;
    }
     .horizontal-line5 {
      position: absolute;
      margin-top: 550px;
      margin-left: 500px;
      height: 3px;
      width: 1000px;
      background-color: #0E46A3;
    }

.card1 {
  position: relative;
  display: inline-block; 
  align-items: center;
  width: 320px;
  box-shadow: 0 100px 200px rgba(14, 70, 163, 0.2); /* Updated shadow color */
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  background: #0E46A3;
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  margin-left: 180px;
}

.card2 {
  position: relative;
  display: inline-block; 
  align-items: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(14, 70, 163, 0.2); /* Updated shadow color */
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  background: #0E46A3;
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  margin-left: 200px;
}

.card:hover {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border-color: #0974f1;
}


.content {
  font-family: "Source Code Pro", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #0974f1;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border-color: #0974f1;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}


.input1 {
  border-radius: 10px;
  outline: 2px solid #FFECD6;;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

.input1.circle3 {
  outline-offset: 5px;
  background-color: #fff
}

    .button2 {
      font-family: "Source Code Pro", monospace;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #FFECD6;;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background:#0E46A3;
  border: 1px solid #0E46A3;

}

.button213 {
      font-family: "Source Code Pro", monospace;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #FFECD6;;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background:#0E46A3;
  border: 1px solid #0E46A3;
  margin-top:70px;
  margin-left: 1200px;
}
.button213:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button213:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button213:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button213:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button213:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button213:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}


.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

    body {
      background-color: #FFECD6;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .c {
      position: relative;
      height: 300px;
      background-color:#FFECD6;
      font-size: 150%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      border-radius: 5px;
      margin-left:15px;
      padding-top: 50px; /* Reduced top padding */
      transition: background-color 0.3s;
    }
     .c2 {
      align-items: center;
      color:#FFECD6;
      position: stciky;
      height: 300px;
      background-color:#0E46A3;
      font-size: 150%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      border-radius: 5px;
      margin-top:300px;
      padding-top:50px;
      transition: background-color 0.3s;
    }
     .a4 {

      color:#FFECD6;
      font-size: 70%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 500px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
     .a41 {

      color:#FFECD6;
      font-size: 70%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      padding-top:80px;
      margin-left: 700px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    .a42 {

      color:#FFECD6;
      font-size: 70%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 600px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

   .a5 {

      display: inline;
      color:#FFECD6;
      font-size: 70%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 500px;
      
      border-radius: 5px;
      transition: background-color 0.3s;
    }
     .c6 {
      position:relative;
      width: 40%;
      float: right;
      height: 500px;
      background-color:#FFECD6;
      font-size: 150%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      border-radius: 5px;
      padding-top:80px;
      margin-left:100px;
      transition: background-color 0.3s;
      color:#0E46A3;
    }


    .c h5 {
      display: inline-block;
      color: #0E46A3;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }

   

    .a3 {
      display: inline;
      color:#0E46A3;
      font-size: 200%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 70px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .a1 {
      display: inline;
      color:#0E46A3;
      font-size: 100%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 100px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .a2 {
      display: inline;
      color: #0E46A3;
      font-size: 100%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 10px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    header a {
      color:#0E46A3;
      font-size: 150%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left:20px;
      margin-right:100px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    header a:hover {
      background-color: #555;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    .button {
      display: block;
      margin: 20px auto;
      padding: 20px 40px;
      background-color: #FFB800;
      color: black;
      text-decoration: none;
      font-weight: bold;
      border-radius: 10px;
      transition: background-color 0.3s;
    }

    .button:hover {
      background-color: #FFA500;
    }
    a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  cursor: pointer; /* Change cursor to pointer on hover */
}

a:hover {
  text-decoration: none; /* Remove underline on hover */
}
.box {
    background-color: gray;
    border: none; /* Remove default button styling */
    cursor: pointer; /* Change cursor to pointer */
  }
.button21 {
      font-family: "Source Code Pro", monospace;
      display: block;
      transition: all 0.2s ease-in;
      position: relative;
      overflow: hidden;
      z-index: 1;
      color: #FFECD6;
      padding: 0.7em 1.0em;
      cursor: pointer;
      font-size: 18px;
      border-radius: 5px; /* Adjust border-radius for rounded corners */
      background: #0E46A3;
      border: 1px solid #0E46A3;
      margin-left: 100px;
      margin-top: 30px;
    }
    .button212 {
      font-family: "Source Code Pro", monospace;
      display: inline-block;
      transition: all 0.2s ease-in;
      position: relative;
      overflow: hidden;
      z-index: 1;
      color: #FFECD6;
      padding: 0.7em 1.0em;
      cursor: pointer;
      font-size: 18px;
      border-radius: 5px; /* Adjust border-radius for rounded corners */
      background: #0E46A3;
      border: 1px solid #0E46A3;
      margin-left: 100px;
      margin-top: 30px;
    }

 .button2 {
  font-family: "Source Code Pro", monospace;
  display: inline-block; /* Change from block to inline-block */
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #FFECD6;
  padding: 0.7em 1.0em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px; /* Adjust border-radius for rounded corners */
  background: #0E46A3;
  border: 1px solid #0E46A3;
  margin-left: 100px;
  margin-top: 1px; /* Adjust margin-top for spacing */
}

.button22 {
  font-family: "Source Code Pro", monospace;
  display: inline-block; /* Change from block to inline-block */
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #FFECD6;
  padding: 0.7em 1.0em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px; /* Adjust border-radius for rounded corners */
  background: #0E46A3;
  border: 1px solid #0E46A3;
  margin-left: 50px;
  margin-top: 0.5px; /* Adjust margin-top for spacing */
}
.button23 {
  font-family: "Source Code Pro", monospace;
  display: block; /* Change from block to inline-block */
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #FFECD6;
  padding: 0.7em 1.0em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px; /* Adjust border-radius for rounded corners */
  background: #0E46A3;
  border: 1px solid #0E46A3;
  margin-left: 50px;
  margin-top: 0.5px; /* Adjust margin-top for spacing */
}
.container-wrapper {
 
  display: flex; /* Use flexbox for layout */
}

.container2 {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-template-rows: repeat(20, 50px);
  gap: 40px;
  justify-content: start;
  align-content: center;
  margin-left: 100px;
  margin-top: 100px;

}

.container3 {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-template-rows: repeat(20, 50px);
  gap: 40px;
  justify-content: start;
  align-content: center;
  margin-left: 120px; /* Adjust margin-left for spacing */
  margin-top: 100px; /* Adjust margin-top for spacing */
}


  .box {
    font-family: "Source Code Pro", monospace;
    transition: all 0.2s ease-in;
    overflow: hidden;
  z-index: 1;
  color: #FFECD6;
  padding:10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px; /* Adjust border-radius for rounded corners */
  background: #0E46A3;
  border: 1px solid #0E46A3;
    border: none; /* Remove default button styling */
    cursor: pointer; /* Change cursor to pointer */
  }


    .c1 {
      width: 100%;
      float: right;
      height: 500px;
      background-color:#FFECD6;
      font-size: 450%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      border-radius: 5px;
      padding-top:700px;
      margin-left:350px;
      transition: background-color 0.3s;
      color:#0E46A3;
    }
    .c12 {
      width: 100%;
      float: right;
      height: 500px;
      background-color:#FFECD6;
      font-size: 450%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      border-radius: 5px;
      padding-top:700px;
      margin-left:50px;
      transition: background-color 0.3s;
      color:#0E46A3;
    }
    .c11 {
      width: 93%;
      float: right;
      height: 600px;
      background-color:#FFECD6;
      font-size: 200%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      border-radius: 5px;
      margin-left:10px;
      transition: background-color 0.3s;
      color:#0E46A3;
    }
   
  .h51{
    display: inline-block;
    margin-left: 900px;
  }


  table {
        border-collapse: collapse;
        width: 100%;
        padding:20px;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        color:#F5E8C7;
    }






  </style>
</head>
<body>
   <div class="c">
    <h5 class="a3">S P A C E U P</h5>
    <h5><a class="a1" href="/home">Home</a></h5> 
    <h5>/</h5>
    <h5><a class="a2" href="/about">About</a></h5> 
    <h5>/</h5>
    <h5><a class="a2" href="/contact">Contact</a></h5> 
    <h5>/</h5>
    <h5><a class="a2" href="/findAspot">Find A Spot</a></h5> 
    <h5>/</h5>
    <h5><a class="a2" href="/Carpool">Carpool</a></h5> 
    <h5>/</h5>
    <h5><a class="a2" href="/ContactDriver">Contact Driver</a></h5> 
    <h5>/</h5>
    <h5><a id="useruser" name={{username}} class="a2" href="/profile">Profile: {{username}}</a></h5> 
  </div>

  <form class="form" action="/contactDriver" method="post">
  <div class="title">Details: <br></div>

<label class="label1"><b>F i r s t N a m e : </b></label>
<input class="input3" name="firstname" placeholder="Firstname" type="text" value="{{checks3.firstname}}">
<label class="label1"><b>L a s t N a m e :</b></label>
<input class="input5" name="lastname" placeholder="Lastname" type="text" value="{{checks3.lastname}}">
<label class="label1"><b>R e g N o. : </b></label>
<input class="input9" name="reg" placeholder="reg" type="text" value="{{checks3.reg}}">
<label class="label1"><b>P h o n e : </b></label>
<input class="input6" name="phone" placeholder="Phone" type="text" value="{{checks3.phone}}">
<label class="label1"><b>B r a n c h : </b></label>
<input class="input7" name="branch" placeholder="Branch" type="text" value="{{checks3.branch}}">
<label class="label1"><b>G r a d  Y e a r : </b></label>
<input class="input8" name="gradyear" placeholder="Grad year" type="text" value="{{checks3.gradyear}}">

  </form>


<div class="form3">
     <h3 style="color:#F5E8C7">C A R S P O T : </h2>
    <table id="entryTable">
        <thead>
            <tr>
                <th>Spot</th>
                
            </tr>
        </thead>
        <tbody>
          {{#each checks5}}
            <tr>
                <td>{{this.spot}}</td>
                <td><button class="button-confirm3" onclick="deleteRow3('{{this._id}}')">Delete</button></td
            </tr>
            {{/each}}
        </tbody>
    </table>
    
   
  </div>

 <div class="form4">
     <h3 style="color:#F5E8C7">S C O O T E R S P O T: </h2>
    <table id="entryTable">
        <thead>
            <tr>
                <th>Spot</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          {{#each checks4}}
            <tr>
                <td>{{this.spot}}</td>
                <td><button class="button-confirm3" onclick="deleteRow2('{{this._id}}')">Delete</button></td
            </tr>
            {{/each}}
        </tbody>
    </table>
    
  </div>


  <div id="okMessage" class="popup">
    <h2 style="color:#F5E8C7">Action successfully completed. Please refresh the page to see changes.</h2>
     <button class="button-confirm" onclick="hideokMessage()">Close</button>
  </div>

   

  <div class="c2">
    <h5 class="a5">Stay updated with SpaceUp's latest updates:   </h5>
    <input type="text" placeholder="Enter Email..." name="text" class="input1">
    <h5 class="a41">Privacy Policy</h5>
    <h5 class="a4">Spcace is a parking solution application base in India.</h5>
    <h5 class="a42"> Copyright © 2024 SpaceUp Design Ltd.</h5>
  </div>

<script>
    function hideokMessage() {
      document.getElementById('okMessage').style.display = 'none';
    }
     function showokMessgae() {
      document.getElementById('okMessage').style.display = 'block';
    }

    function deleteRow2(id) {
    fetch(`/deleteRow2/${id}`, { method: 'DELETE' });
    showokMessgae();
    }

function deleteRow3(id) {
    fetch(`/deleteRow3/${id}`, { method: 'DELETE' });
    showokMessgae();
    }

document.addEventListener('DOMContentLoaded', function() {
    
    const buttons = document.querySelectorAll('.box');
    const hiddenInput = document.querySelector('input[name="spot"]');
    let spotValue = null;

    buttons.forEach(button => {
        button.addEventListener('click', function() {
            hiddenInput.value = this.name;
            buttons.forEach(btn => {
                btn.style.backgroundColor = ''; // Reset background color of all buttons
            });
            this.style.backgroundColor = '#9AC8CD'; // Change background color of clicked button
            const table = document.getElementById('checks-table');

    // Iterate over each row in the table
    table.querySelectorAll('tr').forEach(row => {
        // Get the spot value from the second column of each row
        spotValue = row.cells[1].textContent;

        // Change the color of the button with the name equal to the spot value
        buttons.forEach(btn => {
            if (btn.name === spotValue) {
                btn.style.backgroundColor = '#9AC8CD'; // Change color for checked spots
            }
        });
    });
            const val = document.getElementById('useruser').getAttribute('name');
            document.getElementById('user').value = val;
        });
    });

    // Query the hidden table
    const table = document.getElementById('checks-table');

    // Iterate over each row in the table
    table.querySelectorAll('tr').forEach(row => {
        // Get the spot value from the second column of each row
        spotValue = row.cells[1].textContent;

        // Change the color of the button with the name equal to the spot value
        buttons.forEach(btn => {
            if (btn.name === spotValue) {
                btn.style.backgroundColor = '#9AC8CD'; // Change color for checked spots
            }
        });
    });
});
</script>


 
</body>

</html>





